html {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Lato', sans-serif;
}

aside {
  // width: 300px;
  text-align: center;
  padding: 25px;
  // height: 100vh;
  // max-height: 100%;
  overflow-y: scroll;
}

#cat-conveyor {
  border-right: gray solid 4px;
  article {
    cursor: pointer;
  }
  img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 2px;
    border: white solid 4px;
  }
}

#scoreboard {
  border-left: gray solid 4px;
}

#display-area{
  text-align: center;
  h1 {
    font-size: 50px;
  }
}

#cat-wrapper{
  position: relative;
  margin: auto;
  text-align: center;
}

#cat-image {
  margin: auto;
  border-radius: 5px;
  box-shadow: 4px 6px 33px -4px rgba(0,0,0,0.75);
  cursor: pointer;
  width: 70%;
  max-height: 450px;
  object-fit: cover;
}

#cat-count {
  position: absolute;
  width: 50%;
  font-size: 150px;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  cursor: pointer;
}

#admin {
  margin: auto;
  margin-top: 25px;
  background-color: blue;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  width: 20%;
  color: white;
  cursor: pointer;
}
